.carouselcontainer {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  position: relative;

  .leftcarouselbtn, .rightcarouselbtn {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #ccc;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    z-index: 99;
    .icon {
      font-size: 40px;
    }
  }

  .leftcarouselbtn{
    position: absolute;
    left: 10px;
  }

  .rightcarouselbtn{
    position: absolute;
    right: 10px;
  }

  .leftcarouselbtn:hover, .rightcarouselbtn:hover {
    background-color: var(--color-black);
    color: var(--color-silver);
  }

  .leftcarouselbtn:disabled, .rightcarouselbtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .carousel {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    height: 100%;
    /* justify-content: space-between; */

    .carouselimage {
      height: 100%;
      border-radius: 10px;
      flex-shrink: 0;
      cursor: pointer;
      transition: transform 0.2s;
      -webkit-transition: transform 0.2s;
      -moz-transition: transform 0.2s;
      -ms-transition: transform 0.2s;
      -o-transition: transform 0.2s;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .modalimagebody {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
  }

  .closebtn {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 99;
  }

  .modalcontentimage {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .imagename {
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    left: 50%;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--color-black);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .downloadbtn {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    color: #000;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .downloadbtn:hover {
    background-color: #000;
    color: var(--color-silver);
  }

  .modelbtn {
    outline: none;
    border: none;
    padding: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--color-black);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .icon {
      font-size: 40px;
      font-weight: 700;
    }
  }

  .modelbtn:hover {
    color: #000;
    background-color: var(--color-silver);
  }
  .modelbtn:hover {
    color: #000;
    background-color: var(--color-white);
  }
}

@media screen and (max-width: 480px) {
  .carouselcontainer {
  }

  .modal {
    font-size: 14px;
    width: 100%;
    left: 0;
    height: calc(100% - 60px);
    top: 60px;
    background-color: rgba(0, 0, 0, 0.7);

    .modalimagebody {
      gap: 5px;
      justify-content: center;

      .modelbtn {
        display: none;
      }
    }

    .closebtn {
      font-size: 35px;
    }

    .imagename {
      width: 80%;
      top: 100px;
      font-size: 14px;
      /* bottom: 40px; */
    }

    .downloadbtn {
      font-size: 14px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}
